<section class="landing gradient-bg">
  <div class="container">
    <section class="header row center">
      <div class="col-md-12">
        <h1><%= SITE_TITLE %></h1>
        <hr>
        <h2><%= SITE_SUBTITLE %></h2>
      </div>
    </section>
    <section id="video" class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="videoWrapper">
          <iframe src="//player.vimeo.com/video/105445650" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </section>
    <section class="row center">
      <a class="preorder-button" href="#purchase">PURCHASE OPTIONS</a>
    </section>
  </div>
</section>

<section class="testimonials">
  <div class="container">
    <section class="header-dark row">
      <div class="col-md-12">
        <h1>IN OTHER'S WORDS</h1>
        <hr>
        <h2>PRAISE FOR OVERWORKED AND OVERWHELMED</h2>
      </div>
    </section>
    <section class="book-slider row">

      <div class="col-sm-3 col-sm-push-9 book">
        <%= image_tag 'ootma_web.png', :class => 'img-responsive ' %>
      </div>

      <div class="col-sm-9 col-sm-pull-3">
        <div class="carousel fade" data-ride="carousel">
          <div class="carousel-inner">
            
            <div class="item active">
              <div class="testimonial-entry row">
                <div class="col-xs-2">
                  <%= image_tag 'daniel_pink.jpg', :class => 'img-responsive img-circle' %>
                </div>
                <div class="testimonial-quote col-xs-10">
                  <p class="quote">“If I had to choose one skill that could simultaneously bring greater happiness in life and more 
                      meaningful engagement in work, it would be simple mindfulness. There's a way out of the 
                      overwhelming busyness of modern life - Scott Eblin has written the guidebook.”
                  </p>
                  <h3 class="name">Daniel H. Pink</h3>
                  <p class="credentials">New York Times bestselling author of <em>Drive</em> and <em>To Sell is Human</em></p>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="testimonial-entry row">
                <div class="col-xs-2">
                  <%= image_tag 'raghu_krishnamoorthy.jpg', :class => 'img-responsive img-circle' %>
                </div>
                <div class="testimonial-quote col-xs-10">
                  <p class="quote">“In a world where high velocity performance is the norm, a caffeine-driven, sleep-deprived, 
                    smart phone addicted existence seems to be inevitable. Scott Eblin teaches us that it 
                    need not be that way... <br/>If you want to reclaim yourself, this book is a must read.”
                  </p>
                  <h3 class="name">Raghu Krishnamoorthy</h3>
                  <p class="credentials">VP, Executive Development and Chief Learning Officer - General Electric</p>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="testimonial-entry row">
                <div class="col-xs-2">
                  <%= image_tag 'marshall_goldsmith.jpg', :class => 'img-responsive img-circle' %>
                </div>
                <div class="testimonial-quote col-xs-10">
                  <p class="quote">“Scott Eblin’s must-read book gives you the tools to balance life with work, satisfaction with 
                    success, and mindfulness with purpose. Based on years of critical research in leadership success, 
                    Overworked and Overwhelmed will fundamentally change how you live each day. Brilliant!”
                  </p>
                  <h3 class="name">Marshall Goldsmith</h3>
                  <p class="credentials">New York Times bestselling author of <em>What Got You Here Won't Get You There</em></p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </section>
  </div>
</section>

<section class="tiers gradient-bg">
  <div class="container">
    <section class="header row">
      <div class="col-md-12">
        <h1>SIMPLE MINDFULNESS, MADE SIMPLE TO SHARE</h1>
        <hr>
        <h2>PRE-RELEASE BULK PURCHASE OPTIONS</h2>
      </div>
    </section>

    <section class="tier-info row">
      <div class="col-md-12">
        <h3>RECLAIM YOURSELF AND SHARE THE KNOWLEDGE</h3>
        <p>You’ll want to share Overworked and Overwhelmed: The Mindfulness Alternative with your friends, family, and colleagues, so we’ve made that easy. Pre-order multiple copies of the hardcover book before October 1, 2014 and you’ll receive Scott’s time for free. Simply place your order or contact us for assistance. <br/><br/>
        Follow the "Click to Claim" buttons below to send proof of purchase. <br/> For additional inquiries, contact <a href="mailto:OOTMA@eblingroup.com?subject=Overworked%20and%20Overwhelmed%20|%20Proof%20of%20Purchase" target="_blank">OOTMA@EblinGroup.com</a> and we’ll be in touch regarding next steps.
        </p>
      </div>
    </section>

    <section class="tier col-md-12 tier-one row">
      <div class="row">
        <div class="col-xs-1">
          <div class="number-circle">
            1
          </div>
        </div>
        <div class="tier-title col-xs-9">
          <h3>3-99 COPIES</h3>
        </div>
        <div class="col-sm-2">
          <a class="claim-button" href="mailto:ootma1.65zzo@zapiermail.com?subject=Overworked%20and%20Overwhelmed%20|%20My%20Receipt%20for%203-99%20Copies" target="_blank">Click to Claim</a>
        </div>
      </div>
      <div class="tier-reward row">
        <div class="col-sm-1">
          &nbsp;
        </div>
        <div class="col-sm-11">
          <h4>Receive two downloadable tools to help you get the most out of the book</h4>
          <ul>
            <li>Life GPS® Personal Planner which includes a self assessment to flag the reasons you feel overworked and overwhelmed along with a step by step guide on how to make things better with your own Life GPS®.</li>

            <li>Group Discussion Guide that will set you up with the chapter by chapter questions and activities you’ll need to run your own Overworked and Overwhelmed: The Mindfulness Alternative book group.</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="tier col-md-12 tier-two row">
      <div class="row">
        <div class="col-xs-1">
          <div class="number-circle">
            2
          </div>
        </div>
        <div class="tier-title col-xs-9">
          <h3>100-499 COPIES</h3>
        </div>
        <div class="col-sm-2">
          <a class="claim-button" href="mailto:ootma2.65zzo@zapiermail.com?subject=Overworked%20and%20Overwhelmed%20|%20My%20Receipt%20for%20100-499%20Copies" target="_blank">Click to Claim</a>
        </div>
      </div>
      <div class="tier-reward row">
        <div class="col-sm-1">
          &nbsp;
        </div>
        <div class="col-sm-11">
          <h4>Join us for a live webinar</h4>
          <p>
            At this level, you’re helping a lot of people overcome the productivity drain that comes with being overworked and overwhelmed. We’re here to help with a live and highly interactive 90 minute webinar with Scott along with downloads for the Life GPS® Personal Planner and Group Discussion Guide.<br/>
            (Limit 30)
          </p>
        </div>
      </div>
    </section>

    <section class="tier col-md-12 tier-three row">
      <div class="row">
        <div class="col-xs-1">
          <div class="number-circle">
            3
          </div>
        </div>
        <div class="tier-title col-xs-9">
          <h3>500-749 COPIES</h3>
        </div>
        <div class="col-sm-2">
          <a class="claim-button" href="mailto:ootma3.65zzo@zapiermail.com?subject=Overworked%20and%20Overwhelmed%20|%20My%20Receipt%20for%20500-749%20Copies" target="_blank">Click to Claim</a>
        </div>
      </div>
      <div class="tier-reward row">
        <div class="col-sm-1">
          &nbsp;
        </div>
        <div class="col-sm-11">
          <h4>Get a Free Half-Day Workshop with Scott</h4>
          <p>
            Scott will come to you to deliver a half-day workshop for your organization. You can go deep on helping your people develop their mindfulness alternative with the Life GPS® or make the connection on how showing leadership presence requires being present. You’ll also receive downloads for the Life GPS® Personal Planner and Group Discussion Guide. 
            <br/>
            You cover Scott’s travel and lodging. 
            <br/>
            (US only, limit 15)
          </p>
        </div>
      </div>
    </section>

    <section class="tier col-md-12 tier-four row">
      <div class="row">
        <div class="col-xs-1">
          <div class="number-circle">
            4
          </div>
        </div>
        <div class="tier-title col-xs-9">
          <h3>750-999 COPIES</h3>
        </div>
        <div class="col-sm-2">
          <a class="claim-button" href="mailto:ootma4.65zzo@zapiermail.com?subject=Overworked%20and%20Overwhelmed%20|%20My%20Receipt%20for%20750-999%20Copies" target="_blank">Click to Claim</a>
        </div>
      </div>
      <div class="tier-reward row">
        <div class="col-sm-1">
          &nbsp;
        </div>
        <div class="col-sm-11">
          <h4>Bring Scott in for the day</h4>
          <p>
            Scott will come to you for the day and you can deploy him however you like. You can mix and match his repertoire to include some combination of a keynote, one on one coaching sessions, team coaching, a workshop, consulting on your hot topics or anything else you can dream up that we can do in a day. You also receive the downloads.
            <br/>
            You cover Scott’s travel and lodging.
            <br/>
            (US only, limit 5)
          </p>
        </div>
      </div>
    </section>

    <section class="tier col-md-12 tier-five row">
      <div class="row">
        <div class="col-xs-1">
          <div class="number-circle">
            5
          </div>
        </div>
        <div class="tier-title col-xs-9">
          <h3>1,000+ COPIES</h3>
        </div>
        <div class="col-sm-2">
          <a class="claim-button" href="mailto:ootma5.65zzo@zapiermail.com?subject=Overworked%20and%20Overwhelmed%20|%20My%20Receipt%20for%20over%201000%20Copies" target="_blank">Click to Claim</a>
        </div>
      </div>
      <div class="tier-reward row">
        <div class="col-sm-1">
          &nbsp;
        </div>
        <div class="col-sm-11">
          <h4>Let's create your experience together</h4>
          <p>
            At this level you become one of our revered book launch sponsors!<br/>
            Contact us to discuss how your organization can best utilize the content and Scott.
            <br/>
            (Limit 3)
          </p>
        </div>
      </div>
    </section>

  </div>
</section>

<section id="purchase">
  <div class="container">
    <section class="header-dark row">
      <div class="col-md-12">
        <h1>PREORDER FOR YOU & YOUR ORGANIZATION</h1>
        <hr>
        <h2>OVERWORKED AND OVERWHELMED: THE MINDFULNESS ALTERNATIVE</h2>
      </div>
    </section>
    <section class="purchase-links row">

      <div class="book col-md-4">
        <%= image_tag 'ootma_web.png', :class => 'img-responsive ' %>
      </div>
      
      <div class="amazon col-md-4">
        <div class="row">
          <div class="header-dark col-md-12">
            <h3>ORDER FROM AMAZON</h3>
            <p>For individual purchases</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a class="preorder-button-dark" href="http://www.amazon.com/gp/product/1118910664/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1118910664&linkCode=as2&tag=wwweblingrouc-20&linkId=BJS5FX4TRYS6GOLV" target="_blank">PREORDER NOW</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=wwweblingrouc-20&l=as2&o=1&a=1118910664" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
          </div>
        </div>
      </div>
      
      <div class="bulk col-md-4">
        <div class="row">
          <div class="header-dark col-md-12">
            <h3>ADDITIONAL OPTIONS</h3>
            <p>For team purchases</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="btn-group">
              <button type="button" class="preorder-button-dark dropdown-toggle" data-toggle="dropdown">
                PREORDER OPTIONS <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="http://800ceoread.com/products/overworked_and_overwhelmed-scott_eblin-english" target="_blank">800 CEO READ</a></li>
                <li><a href="http://www.barnesandnoble.com/w/overworked-and-overwhelmed-scott-eblin/1119398601" target="_blank">BARNES & NOBLE</a></li>
                <li><a href="http://www.booksamillion.com/product/1118910664" target="_blank">BOOKS A MILLION</a></li>
                <li><a href="http://www.indiebound.org/book/9781118910665">INDIE BOUND</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>  
</section>