<section class="main">
  <div class="container">
    <section id="header" class="row center">
      <h1><%= SITE_TITLE %></h1>
      <hr>
      <h2><%= SITE_SUBTITLE %></h2>
    </section>
    <div class="row">
      <div class="col-md-5 col-md-push-7 book">
        <%= image_tag 'ootma_web.png', :class => 'img-responsive ' %>
      </div>
      <div class="col-md-7 col-md-pull-5 copy">
        <p>Small increases in mindfulness can lead to big changes in productivity and quality of life for the overworked and overwhelmed professional.  <br/> <br/> Overworked and Overwhelmed is a handbook for more mindful work and living by Scott Eblin; a speaker, executive coach, author of The Next Level:  What Insiders Know About Executive Success and co-founder of <br/> The Eblin Group. <br/> <br/> Overworked and Overwhelmed includes:</p>
        <ul>
          <li>“Must Know” mindfulness basics that today’s professional needs to thrive in a 24/7 world.</li>
          <li>Inspiring examples of mindfulness in action from dozens of leaders ranging from a U.S. Coast Guard Commandant to the CEO of Hilton Worldwide.</li>
          <li>A personal planning framework for creating the outcomes that matter most at home, at work and in the community.</li>
        </ul>
        <hr>
        <h3>Receive a free chapter and additional specials on release day.</h3>
        <%= form_tag '/interested' do %>
          <div class="col-md-6"><%= email_field_tag 'email', nil, placeholder: 'Keep me posted!' %></div>
          <div class="col-md-2"><%= submit_tag 'YEAH!', class: 'button' %></div>
        <%= hidden_field_tag :ref, "#{@ref}" %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<% unless alert.blank? %>
  <div class="row">
    <div class="alert alert-warning alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= alert %>
    </div>
  </div>
<% end %>