<section id="main">
  <div class="container">
    <div class="row center">
      <h1>Overworked and Overwhelmed</h1>
      <hr>
      <h2>The Mindfulness Alternative</h2>
    </div>
    <div class="row">
      <div class="col-md-7 copy">
        <p>Even small increases in mindfulness can lead to big changes in productivity and quality of life for the overworked and overwhelmed professional. <br/> Overworked and Overwhelmed is a handbook for more mindful work and living that offers:</p>
        <ul>
          <li>“Must Know” mindfulness basics that today’s professional needs to thrive in a 24/7 world.</li>
          <li>Inspiring examples of mindfulness in action from dozens of leaders ranging from a U.S. Coast Guard Commandant to the CEO of Hilton Worldwide.</li>
          <li>A personal planning framework for creating the outcomes that matter most at home, at work and in the community.</li>
        </ul>
        <hr>
        <%= form_tag '/interested' do %>
          <div class="col-md-6 col-md-offset-2"><%= email_field_tag 'email', nil, placeholder: 'Email address' %></div>
          <div class="col-md-2"><%= submit_tag 'YEAH!', class: 'button' %></div>
        <%= hidden_field_tag :ref, "#{@ref}" %>
        <% end %>
      </div>
      <div class="col-md-5 book">
        <%= image_tag 'ootma_web.png', :class => 'img-responsive ' %>
      </div>
    </div>
  </div>
</section>

<% unless alert.blank? %>
  <div class="row">
    <div class="alert alert-warning alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= alert %>
    </div>
  </div>
<% end %>